.App {
  text-align: center;
  background: lightblue;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10vh auto 5vh;
  grid-template-areas: 
    'header'
    'main'
    'footer';
}
.header {
  grid-area: header;
}
.mainContainer {
  background: lightcoral;
  grid-area: main;
}
